/* ***** Reset CSS ***** */
:root{
    --container-width: 1200px;
    --font-size: 16px;
    --main-color: #f7df1e;
    --main-font: sans-serif;
    --main-modal-color: rgba(247,222,30,0.85);
    --second-color: #222;
    --second-modal-color: rgba(34,34,34,0.85);
}
html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;/* transición más fluida */
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    margin: 0;
    overflow-x: hidden;/* se oculta lo que se desborda */
}
img{
    height: auto;
    max-width: 100%;
}

/* ***** menu-hamburguesa ***** */
.header{
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 1rem;
    position: sticky;/* se fija en este caso en top 0 */
    top: 0;
    z-index: 997;/* el slider se superpone sin este zindex */
}
.header h1{
    margin: 0 auto;
    text-align: center;
}
.section{
    margin-left: auto;
    margin-right:auto;
    max-width: var(--container-width);
    min-height: 100vh;/* tamaño minimo lo toma del viewport height */
    padding: 2rem;
    padding-top: 4rem;
    text-align: center;
    width: 100%;
}
.panel{/* bottom - top - left - rigth to 0 es para que se estire en toda la pantalla */
    background-color: var(--second-modal-color);
    bottom:0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(0, -100%);/* por defecto lo escondemos arriba */
    transition: transform 0.3s ease;
    width: 100%;
    z-index: 998;
}
.panel.is-active{
    transform: translate(0, 0);
}
.panel-btn{/* posición esquina inferior derecha */
    align-items: center;
    background-color: var(--main-color);
    border-radius: 50%;
    bottom: 1vh;
    cursor: pointer;
    display: flex;/* flexbox para alinear las líneas del ícono de hamburguesa */
    height: 4rem;
    justify-content: center;
    padding: 0;
    position: fixed;
    right: 1vw;
    transition: all 0.3s ease-out;
    width: 4rem;
    z-index: 999;
}
.menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: inherit;
}
.menu a{
    color: var(--main-color);
    display: block;
    font-size: 1.5rem;
    padding: 2rem;
    text-decoration: none;
    transition: all 0.3s ease;
    width: inherit;
}
.menu a:hover{
    background-color: var(--main-modal-color);
    color: var(--second-color);
    font-weight: bold;
}

/* ***** Eventos del teclado ***** */
.stage{
    background-color: var(--second-color);
    display: flex;
    min-height: 50vh;/* altura mínima de la mitad del viewport*/
}
.ball{
    background-color: var(--main-color);
    border-radius: 50%;
    height: 4rem;
    margin: auto;
    width: 4rem;
}

/* ***** ScrollTopButton ***** */
.floating-btn{
    background-color: var(--main-color);
    border: 0;
    border-radius: 50%;
    bottom: 1vh;
    color: var(--second-color);
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    height: 4rem;
    outline: 0;
    position: fixed;
    transition: all 0.3s ease-out;
    width: 4rem;
    z-index: 999;
}
.panel-btn:hover, .floating-btn:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}
.scroll-top-btn{
    right: calc(4.25rem + 1vw);
}
.hidden{
    opacity: 0;
    visibility: hidden;
}

/* ***** DarkThemeButton ***** */
.dark-theme-btn{
    left: 1vw;
}
.dark-mode{
    background-color: var(--second-color);
    color: var(--main-color);
}

/* ***** Network Status ***** */
.online,
.offline{
    background-color: #1b5e20;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 1000;
}
.offline{
    background-color: #b71c1c;
}

/* ***** Search Filters ***** */
.cards{
    display: grid;
    /*1:El nro de columnas a repetir, auto-fit calcula en base a la cantidad que tenga el elemento grid
      2:El valor que va a tener cada columna oscilando entre los dos valores*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.3s ease-out;
}
.card img{
    height: auto;
    width: 100%;
}
.card figcaption{
    padding: 1rem;
}
.filter{
    /*display:none;*//* No es animable */
    opacity: 0;
    order: 1;/* Propiedad cuandio usamos flexbox o grid, todos los elementos están por defecto en 0 */
    visibility: hidden;
}

/* ***** Search Filters ***** */
.slider{
    margin: 1rem auto;
    position: relative;
    text-align: center;
    width: 80%;
}
.slider-slides{
    height: 400px;
    position: relative;
}
.slider-slide{
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s ease;
    visibility: hidden;
    width: 100%;
}
.slider-slide img{/* con esto hacemos que sea responsivo */
    height: inherit;
    object-fit: cover;
    object-position: 50% 0%;
    width: inherit;
}
.slider-slide.active{
    opacity: 1;
    visibility: visible;
}
.slider-btns{
    display: flex;
    font-size: 3em;
    font-weight: bold;
    justify-content: space-between; /* distribuye el espacio de separación */
    position: absolute;
    top: 50%;
    width: 100%;
}
.slider a{
    background-color: #fff;
    border: thin solid #000;
    border-radius: 50%;
    color: #000;
    display: block;
    height: 4rem;
    text-decoration: none;
    width: 4rem;
}

/* ***** ScrollSpy ***** */
@media screen and (min-width: 1024px){
    body{
        display: grid;
        grid-template-areas:
        "header header"
        "main   panel";
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
    }
    main{
        grid-area: main;
    }
    .header{
        grid-area: header;
    }
    .panel{
        align-self: start;
        background-color: var(--second-color);
        grid-area: panel;
        justify-content: flex-start;/* para que empiecen al inicio */
        opacity: 1;
        position: sticky;
        top: 4rem;
        transform: translate(0, 0);
        visibility: visible;
    }
    .panel-btn{
        display: none;
    }
    .menu{
        justify-content: start;
        text-align: right;
    }
    .menu a{
        font-size: 1rem;
        padding: 0.75rem;
    }
    .menu a:hover,
    .menu a.active{
        color: var(--second-color);
        background-color: var(--main-color);
    }
    .scroll-top-btn{
        left: calc(4.25rem + 1vw);
        right: initial;
    }
}
video{
    width: 50%;
}

/* ***** ContactForm Validations ***** */
.contact-form{
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.contact-form > *{/* Aplicar a todos los hijos de .contact-form */
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 100%;
}
.contact-form textarea{
    resize: none;
}
.contact-form legend,
.contact-form-response{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.contact-form input,
.contact-form textarea{
    font-family: sans-serif;
    font-size: 1rem;
}
.contact-form input[type="submit"]{
    cursor: pointer;
    font-weight: bold;
    width: 50%;
}
.contact-form *:placeholder{
    color: #000;
}
.contact-form [required]:valid{
    border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid{
    border: thin solid var(--form-error-color);
}
.contact-form-error{
    background-color: var(--form-error-color);
    color: #000;
    font-size: 80%;
    margin-top: 1rem;
    transition: all 800ms ease;
}
.contact-form-error.is-active{
    animation: show-message 1s 1 normal 0s ease-out both;
    display: block;
}
.none{
    display: none;
}
@keyframes show-message {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}